@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
layer(base);
@import 'tailwindcss';

@theme {
  --font-sans: 'Lato', sans-serif;
  --animate-pulse-border: pulse-border 1s infinite;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 14px;

  @keyframes pulse-border {
    0% {
      border-width: 2px;
      opacity: 1;
    }
    50% {
      border-width: 2px;
      opacity: 0.8;
    }
    100% {
      border-width: 2px;
      opacity: 1;
    }
  }
}

html {
  color-scheme: dark;
}

/* Theme classes for different font sizes */
.overlay-window.overlay-theme-xs {
  --text-xs: 8px;
  --text-sm: 10px;
  --text-base: 12px;
  --text-lg: 14px;
  --text-xl: 16px;
}

.overlay-window.overlay-theme-sm {
  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
}

.overlay-window.overlay-theme-lg {
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
}

.overlay-window.overlay-theme-xl {
  --text-xs: 14px;
  --text-sm: 16px;
  --text-base: 18px;
  --text-lg: 20px;
  --text-xl: 22px;
}
